@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@media (prefers-color-scheme: dark) {
  .background {
    width: 100%;
    position: absolute;
    background-image: radial-gradient(
      56.1514% 56.1514% at 49.972% 38.959%,
      rgb(254 252 232 / var(--tw-bg-opacity)) 0%,
      rgb(187 247 208 / var(--tw-bg-opacity)) 100%
    );
    top: -300px;
    min-height: 650px;
    z-index: -10;
  }
}
